{% extends "base.html" %}
{% import "macros/list_item.html" as list_item %}
{% block hero %}
<!-- init hero -->
<section class="hero is-primary">
    <div class="hero-body">
        <p class="title">
            {{ site_name }}
        </p>
        <p class="subtitle">
            {{ site_subtitle }}
        </p>
    </div>
</section>
<!-- end hero -->
{% endblock hero %}

{% block main %}
<!-- init columns -->
<div class="columns">
    {{ list_item.cards([1, 2, 3, 4, 5, 6, 7, 8]) }}
    <!-- end columns -->
</div>
{% endblock main %}